
Server_Project/smartfactory/src/main/webapp/WEB-INF/config/config.properties

Server_Project/smartfactory/src/main/webapp/WEB-INF/config/

Server_Project/smartfactory/src/main/resources/config/api.properties

Server_Project/smartfactory/target/classes/config/api.properties

Server_Project/Client_For_Server_Test/app/src/main/AndroidManifest.xml

Server_Project/Client_For_Server_Test/Client_For_Server_Test.zip

Server_Project/smartfactory/src/main/java/constant/ApiValue.java

Server_Project/smartfactory/target/

MES/MES/app/src/main/AndroidManifest.xml

Server_Project/Client_For_Server_Test/

MES/MES/.gradle/

MES/MES/.idea/
