<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pnu.spring.smartfactory.Mapper.FacilityMapper">
	<select id="getPlaceList"  resultType="com.pnu.spring.smartfactory.DAO.PlaceDAO"
	parameterType="hashmap">
		SELECT ROW_NUMBER() OVER (ORDER BY CASE WHEN MFA.PLACE_CD IS NULL THEN 1 ELSE 0 END) AS ROWNO, 
		  ISNULL(MFA.PLACE_CD, -1) AS PLACE_CD, 
		  ISNULL(CD3.CODE_NM, '기타')  AS PLACE 
		FROM MDM_FACILITY AS MFA 
		  LEFT OUTER JOIN MDM_CODE AS CD3 WITH(NOLOCK) ON (MFA.PLACE_CD = CD3.CODE) 
		GROUP BY MFA.PLACE_CD, CD3.CODE_NM 
		ORDER BY CASE WHEN MFA.PLACE_CD IS NULL THEN 1 ELSE 0 END
	</select>
	
	<select id="getFacilityListPerPlace"  resultType="com.pnu.spring.smartfactory.DAO.FacilityDAO"
	 parameterType="hashmap">
	SELECT
		ROW_NUMBER() OVER (ORDER BY MFA.IX_SORT, MFA.FACILITY_NO) AS ROWNO,
		MFA.FACILITY_NO,
		MFA.FACILITY_NM,
		MFA.PLACE_CD,
		CD3.CODE_NM AS PLACE, -- 장소
		'' AS PLINE_NM, -- 생산라인
		'' AS DEPARTMENT_NM, -- 관리부서
		'' AS EMPLOYEE_NM , --관리 담당자
		'' AS STATE, -- 설비상태
		'' AS FACILITY_TYPE, -- 설비종류
		'' AS REG_NM -- 사용자
	FROM MDM_FACILITY AS MFA
	LEFT OUTER JOIN MDM_CODE AS CD3 WITH(NOLOCK) ON (MFA.PLACE_CD = CD3.CODE)  -- 장소
	WHERE MFA.PLACE_CD =#{place_cd} -- A동
	ORDER BY MFA.IX_SORT, MFA.FACILITY_NO
	</select>
	
	<select id="getFacilityDetail"  resultType="com.pnu.spring.smartfactory.DAO.FacilityDAO"
	 parameterType="hashmap">
	SELECT ROW_NUMBER() OVER (ORDER BY MFA.IX_SORT, MFA.FACILITY_NO) AS ROWNO,
	  MFA.FACILITY_NO,
	  MFA.FACILITY_NM,
	  MPL.PLINE_NM,					-- 생산라인
	  MDP.DEPARTMENT_NM,			-- 관리부서
	  MEP.EMPLOYEE_NM ,				--관리 담당자
	  CD1.CODE_NM AS STATE,			-- 설비상태
	  CD2.CODE_NM AS FACILITY_TYPE,	-- 설비종류
	  CD3.CODE_NM AS PLACE,			-- 장소
	  SUR.USER_NM AS REG_NM			-- 사용자
	FROM MDM_FACILITY AS MFA																				-- 설비정보
	  LEFT OUTER JOIN MDM_PRODUCTION_LINE_FAC AS PLF WITH(NOLOCK) ON (MFA.FACILITY_NO = PLF.FACILITY_NO)	-- 생산라인별 설비
	  LEFT OUTER JOIN MDM_PRODUCTION_LINE AS MPL WITH(NOLOCK) ON (PLF.PLINE_ID = MPL.PLINE_ID)				-- 생산라인
	  LEFT OUTER JOIN MDM_DEPARTMENT AS MDP WITH(NOLOCK) ON (MFA.DEPARTMENT_ID = MDP.DEPARTMENT_ID)			-- 관리부서
	  LEFT OUTER JOIN MDM_EMPLOYEE AS MEP WITH(NOLOCK) ON (MFA.EMPLOYEE_ID = MEP.EMPLOYEE_ID)				-- 관리담당자
	  LEFT OUTER JOIN MDM_CODE AS CD1 WITH(NOLOCK) ON (MFA.STATE_CD = CD1.CODE)								-- 설비상태
	  LEFT OUTER JOIN MDM_CODE AS CD2 WITH(NOLOCK) ON (MFA.FACILITY_TYPE_CD = CD2.CODE)						-- 설비종류
	  LEFT OUTER JOIN MDM_CODE AS CD3 WITH(NOLOCK) ON (MFA.PLACE_CD = CD3.CODE)								-- 장소
	  LEFT OUTER JOIN SYS_USER AS SUR WITH(NOLOCK) ON (MFA.REG_ID = SUR.USER_ID)							-- 사용자
	WHERE MFA.FACILITY_NO =#{facility_cd}
	ORDER BY MFA.IX_SORT, MFA.FACILITY_NO
	</select>
</mapper>