<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pnu.spring.smartfactory.Mapper.FRequestMapper">
	<insert id="insFRequest" parameterType="hashmap">
		INSERT INTO CMM_REPAIR_REQ ([REQ_NO], [REQ_USER_ID], [FACILITY_NO],  [STATUS], [REQ_DETAILS], [REMARK], [REG_ID], [REQ_DT]) 
		VALUES (DBO.UFGEN_REPAIR_REQ_NO('RQ',3), #{req_user_id}, #{facility_no}, #{status},  #{req_details}, #{remark}, #{reg_id}, GETDATE());
	</insert>
	
	<delete  id="delFRequest" parameterType="hashmap">
		DELETE FROM CMM_REPAIR_REQ WHERE REQ_NO=#{req_no}
	</delete>
	
	<select id="getFRequestList"  resultType="com.pnu.spring.smartfactory.DAO.FRequestDAO"
	parameterType="hashmap">
	SELECT 
		CRR.REQ_NO,	-- 요청번호
		USR.USER_NM,						-- 요청자
		CRR.FACILITY_NO,					-- 설비번호
		CRR.INSP_RST_NO,					-- 점검결과번호
		CD1.CODE_NM AS STATUS_,				-- 상태
		EP1.EMPLOYEE_NM						-- 접수자
	FROM CMM_REPAIR_REQ AS CRR				-- 설비점검요청
		LEFT OUTER JOIN SYS_USER AS USR WITH(NOLOCK) ON (CRR.REQ_USER_ID = USR.USER_ID)
		LEFT OUTER JOIN MDM_EMPLOYEE AS EP1 WITH(NOLOCK) ON (CRR.REQ_USER_ID = EP1.EMPLOYEE_ID)
		LEFT OUTER JOIN MDM_CODE AS CD1 WITH(NOLOCK) ON (CD1.CATEGORY_ID = 'IPP' AND CRR.STATUS = CD1.SUB_CD1)
	ORDER BY CRR.REQ_NO
	</select>
	
	<select id="getFRequestDetail"  resultType="com.pnu.spring.smartfactory.DAO.FRequestDAO"
	parameterType="hashmap">
	SELECT 
		CRR.REQ_NO,	-- 요청번호
		USR.USER_NM,						-- 요청자
		CRR.FACILITY_NO,					-- 설비번호
		CRR.INSP_RST_NO,					-- 점검결과번호
		CD1.CODE_NM AS STATUS_,				-- 상태
		EP1.EMPLOYEE_NM						-- 접수자
	FROM CMM_REPAIR_REQ AS CRR				-- 설비점검요청
		LEFT OUTER JOIN SYS_USER AS USR WITH(NOLOCK) ON (CRR.REQ_USER_ID = USR.USER_ID)
		LEFT OUTER JOIN MDM_EMPLOYEE AS EP1 WITH(NOLOCK) ON (CRR.REQ_USER_ID = EP1.EMPLOYEE_ID)
		LEFT OUTER JOIN MDM_CODE AS CD1 WITH(NOLOCK) ON (CD1.CATEGORY_ID = 'IPP' AND CRR.STATUS = CD1.SUB_CD1)
	WHERE CRR.FACILITY_NO=#{facility_cd}
	ORDER BY CRR.REQ_NO
	</select>
</mapper>