<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pnu.spring.smartfactory.Mapper.InspectMapper">
	<insert id="insInspect" >
		INSERT INTO CMM_INSPECT_RST ([INSP_RST_NO], [INSP_DATE]) VALUES (DBO.UFGEN_INSP_RST_NO('IR',3), GETDATE());
	</insert>
	
	<delete  id="delInspect">
		DELETE FROM CMM_INSPECT_RST WHERE INSP_RST_NO =#{insp_rst_no}
	</delete>
	
	<select id="getInspectList"  resultType="com.pnu.spring.smartfactory.DAO.InspectDAO">
	SELECT 
		DBO.UFGEN_INSP_RST_NO('IR', 3) REQ_NO,		-- 점검결과 번호
		MFC.FACILITY_NM,					-- 설비명
		MFI.INSPECT_NM,						-- 점검명
		CD1.CODE_NM AS RESULT,				-- 점검결과
		USR.USER_NM,						-- 요청자
		CIR.FACILITY_NO,					-- 설비번호
		CIR.INSP_RST_NO,					-- 점검결과번호
		EP1.EMPLOYEE_NM						-- 접수자
	FROM CMM_INSPECT_RST AS CIR				-- 설비점검결과
		LEFT OUTER JOIN SYS_USER AS USR WITH(NOLOCK) ON (CIR.REG_ID= USR.USER_ID)
		LEFT OUTER JOIN MDM_FACILITY AS MFC WITH(NOLOCK) ON (CIR.FACILITY_NO = MFC.FACILITY_NO)			-- 설비정보
		LEFT OUTER JOIN MDM_FACILITY_INSP AS MFI WITH(NOLOCK) ON (CIR.INSPECT_ID = MFI.INSPECT_ID)		-- 설비점검기준정보
		LEFT OUTER JOIN MDM_EMPLOYEE AS EP1 WITH(NOLOCK) ON (CIR.REG_ID = EP1.EMPLOYEE_ID)
		LEFT OUTER JOIN MDM_CODE AS CD1 WITH(NOLOCK) ON (CIR.RESULT_CD = CD1.CODE)						-- 설비점검결과 : CD1.CATEGORY_ID = AIR
	ORDER BY DBO.UFGEN_INSP_RST_NO('IR', 3)
	</select>
	
	<select id="getInspectDetail"  resultType="com.pnu.spring.smartfactory.DAO.InspectDAO">
	SELECT 
		DBO.UFGEN_INSP_RST_NO('IR', 3),		-- 점검결과 번호
		MFC.FACILITY_NM,					-- 설비명
		MFI.INSPECT_NM,						-- 점검명
		CD1.CODE_NM AS RESULT,				-- 점검결과
		USR.USER_NM,						-- 요청자
		CIR.FACILITY_NO,					-- 설비번호
		CIR.INSP_RST_NO,					-- 점검결과번호
		EP1.EMPLOYEE_NM						-- 접수자
	FROM CMM_INSPECT_RST AS CIR				-- 설비점검결과
		LEFT OUTER JOIN SYS_USER AS USR WITH(NOLOCK) ON (CIR.REG_ID= USR.USER_ID)
		LEFT OUTER JOIN MDM_FACILITY AS MFC WITH(NOLOCK) ON (CIR.FACILITY_NO = MFC.FACILITY_NO)			-- 설비정보
		LEFT OUTER JOIN MDM_FACILITY_INSP AS MFI WITH(NOLOCK) ON (CIR.INSPECT_ID = MFI.INSPECT_ID)		-- 설비점검기준정보
		LEFT OUTER JOIN MDM_EMPLOYEE AS EP1 WITH(NOLOCK) ON (CIR.REG_ID = EP1.EMPLOYEE_ID)
		LEFT OUTER JOIN MDM_CODE AS CD1 WITH(NOLOCK) ON (CIR.RESULT_CD = CD1.CODE)
	<if test='facility_no !=null'>	
		WHERE MFC.FACILITY_NO = #{facility_no}
	</if>
	ORDER BY DBO.UFGEN_INSP_RST_NO('IR', 3)
	</select>
</mapper>